/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 136.7%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

body {
  font-family: "Poppins", sans-serif;
  color: #f8f7f9;
  background: #1e1e1e;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* scroll-button */
.scroll-to-top {
  position: fixed;
  bottom: 120px;
  right: 20px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: rgba(113, 166, 203, 0.6);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 24px;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top:hover {
  opacity: 0.7;
}

.fa-chevron-up {
  display: inline-block;
  margin-top: 13px;
}
/* Header  */
.no__scroll {
  overflow: hidden;
}
.header {
  background: rgba(0, 0, 0, 0.13);
  box-shadow: 0px -5px 5px -5px rgba(47, 85, 113, 0.6) inset;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.header__menu .header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: rgba(132, 176, 208, 0.985);
}
.header__nav {
  display: flex;
}
.menu__icon {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  align-self: center;
  display: none;
}
.menu__icon span {
  position: absolute;
  z-index: 100;
  width: 40px;
  height: 5px;
  background: #fff;
  top: 8px;
  left: 5px;
  transition: 0.5s;
}
.menu__icon span:nth-child(1) {
  transform: translateY(10px);
}
.menu__icon span:nth-child(2) {
  transform: translateY(20px);
}

.header.open .menu__icon span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .menu__icon span:nth-child(2) {
  opacity: 0;
}

.header.open .menu__icon span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.header.open .menu__icon span {
  background-color: #000;
}

.header__nav {
}
.nav__container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav__item {
  width: 1px;
  height: 30px;
  background: #fff;
}
.nav__contacts {
  display: flex;
  gap: 50px;
}
.menu__list {
  display: flex;
  gap: 50px;
}
.menu__item {
  transition: 0.5s ease;
}
.menu__item:hover {
  transform: scale(1.1);
  color: rgba(113, 166, 203, 0.6);
}
.menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
}

/* Main  */
.main {
    flex: 1 1 auto;
    
}
.main__about {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__container {
  max-width: 510px;
}

.about__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
.about__prof {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
.about__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(248, 247, 249, 0.5);
  margin-bottom: 30px;
}
.about__projects {
  background: inherit;
  color: #fff;
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 15px;
  font-weight: 700;
  line-height: 36px;
  transition: 0.5s ease;
}
.about__projects:hover {
  background: rgba(47, 85, 113, 0.6);
}
.about__photo {
  background: rgba(47, 85, 113, 0.6);
  border-radius: 20px;
}
.about__photo img {
  max-width: 450px;
  height: 450px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px 10px rgba(9, 0, 8, 0.252);
}

.projects__container {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  /* left: 0;
  width: 100%; */
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(47, 85, 113);
  padding: 120px 50px;
  border-radius: 15px;
  /* display: none; */
  transition: 1s ease;
  transform: scale(0);
  opacity: 1;
}
.projects__container.project__open {
  /* display: flex; */
  transform: scale(1);
  opacity: 1;
}
.project__card {
  max-width: 250px;
  background: rgb(23, 47, 63);
  color: #afc1d3;
  font-weight: 700;
  text-align: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.project__name {
}
.project__img {
  border-radius: 10px;}
.project__link {
  font-size: 20px;
  background: #000;
  border-radius: 10px;
  padding: 10px 0;
}
.project__close {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
.project__close span {
  position: absolute;
  top: 18px;
  background: #000;
  width: 35px;
  height: 4px;
  border-radius: 10px;
  transform: rotate(45deg);
}

.project__close span:nth-child(1) {
  transform: rotate(-45deg);
}


/* about section */
.about {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.14);
}
.about__title {
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 18px;
}

.about__text {
  font-size: 18px;
  line-height: 22px;
}
.about__text:not(:last-child) {
  margin-bottom: 50px;
}


/* footer section */
.footer {
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(14, 11, 14, 0.595);
  line-height: 1.3;
  box-shadow: 0 0 3px;
}
.footer__title {
  margin-top: 100px;
  font-size: 30px;
}
/* footer - form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стили для поля ввода имени */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Стили для поля ввода email */
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Стили для поля ввода сообщения */
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Стили для кнопки отправки формы */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Стили для кнопки отправки формы при наведении на неё курсора */
button[type="submit"]:hover {
  background-color: #45a049;
}

.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  background: #000;
  width: 100%;
  padding: 20px 0;
}


.footer__link {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.footer__link:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.footer__list-item:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.footer__list-item:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}




/* animations */

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}


/* @media */

@media (min-width: 500px) {
  .footer__list {
    grid-auto-flow: column;
  }
}

@media (max-width: 780px) {
  .header {
    margin-bottom: 30px;
  }
  .menu__icon {
    display: block;
  }
  .nav__container {
    position: absolute;
    left: -100%;
    top: 0;
    background: rgb(128, 0, 128);
    display: block;
    width: 100%;
    text-align: center;
    padding: 70px 20px 20px 20px;
    transition: 0.5s ease;
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu__list {
    display: block;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav__item {
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
  }
  .menu__link {
    display: block;
    font-size: 21px;
    display: block;
    padding: 35px 0;
  }
  .nav__contacts {
    justify-content: center;
  }
  .projects__container {
    top: 8%;
  }
  .header__logo {
    z-index: 100;
  }
  .header.open .nav__container {
    transform: translateX(100%);
  }
  .main__about {
    text-align: center;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 30px;
    height: auto;
  }
  .about__photo {
    margin-bottom: 30px;
  }
  .about__projects {
    width: 100%;
  }
}

@media (max-width: 780px) {
}
